.App{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
   
}
.parent{
  background-color: rgb(36, 43, 66);
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}
.parent img {
  width: 150px;
  height: 120px;
  border-radius: 50%;
}
body{
  background-color: rgb(141, 92, 92);

}

.child{
  background-color: rgb(85, 171, 163);
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}
.child img{
  width: 150px;
  height: 120px;
  border-radius: 50%;
}
.buttton{
  margin-left: 40%;
  margin-right: 40%;
}
.buttton button{
  padding: 10px 20px;
  border: none;
  background-color: white;
  outline: none;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;

}